.keyboard-wrapper .card-body {
  padding: 0.2em;
}

.keyboard {
  width: 100%;
  height: 33vh;
  background-color: #d2d5dc;
  box-shadow:
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;
}

.char-input {
  width: 100%;
}
