<div class="keyboard d-flex flex-column justify-content-center align-items-center">
  <app-virtual-letter-input
    [virtualLetterSet]="getTopVirtualSet()"
    [lastVirtualInput]="getLastVirtualInput()"
    [upperCaseActive]="isUpperCaseActive()"
    [lettersSetActive]="isLettersSetActive()"
    [numbersSetActive]="isNumbersSetActive()"
    [charactersSetActive]="isCharactersSetActive()"
    (onVirtualInput)="onVirtualInput($event)"
    (onBackSpace)="onBackSpacePressed()"
    (onSpace)="onSpacePressed()"
    (onReturn)="onReturnPressed()"
    (onConvertCase)="convertCase()"
    (onChangeKeyboardSet)="changeKeyboardSet($event)"
  >
  </app-virtual-letter-input>
  <app-virtual-letter-input
    [virtualLetterSet]="getMiddleVirtualSet()"
    [lastVirtualInput]="getLastVirtualInput()"
    [upperCaseActive]="isUpperCaseActive()"
    [lettersSetActive]="isLettersSetActive()"
    [numbersSetActive]="isNumbersSetActive()"
    [charactersSetActive]="isCharactersSetActive()"
    (onVirtualInput)="onVirtualInput($event)"
    (onBackSpace)="onBackSpacePressed()"
    (onSpace)="onSpacePressed()"
    (onReturn)="onReturnPressed()"
    (onConvertCase)="convertCase()"
    (onChangeKeyboardSet)="changeKeyboardSet($event)"
  >
  </app-virtual-letter-input>
  <app-virtual-letter-input
    [virtualLetterSet]="getBottomVirtualSet()"
    [lastVirtualInput]="getLastVirtualInput()"
    [upperCaseActive]="isUpperCaseActive()"
    [lettersSetActive]="isLettersSetActive()"
    [numbersSetActive]="isNumbersSetActive()"
    [charactersSetActive]="isCharactersSetActive()"
    [showLittleBackSpaceButton]="true"
    [showNumbersButton]="true"
    [showArrowButton]="true"
    [showSpaceBar]="true"
    [showReturnButton]="true"
    [showLettersButton]="true"
    [showCharsButton]="true"
    [activateBottomCharsClass]="true"
    (onVirtualInput)="onVirtualInput($event)"
    (onBackSpace)="onBackSpacePressed()"
    (onSpace)="onSpacePressed()"
    (onReturn)="onReturnPressed()"
    (onConvertCase)="convertCase()"
    (onChangeKeyboardSet)="changeKeyboardSet($event)"
  >
  </app-virtual-letter-input>
</div>
